{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <h2> Welcome to your To-Do App! </h2>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="row">
    <h3> Do you want to add something to your to-do list? </h3>

    <form action="./create" method="POST"> {% csrf_token %}
      <label for = "task">Task to add:</label>
      <input type = "text" id = "task" name = "task"/>
      <br />
      <input type="submit" value = "Add task" name="add_task" />
    </form>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="row">
    <h3> Check out what's already in your to-do list: </h3>

    {% for task in task_list %}
      <div class="container">
        <div class="row">
          <label>Task {{task.id}} : {{task.text}}</label>
          <input type="submit" value="Finish"/>
          <input type="submit" value="Cancel"/>
          <input type="submit" value="Delete"/>
          <br />
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
