{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <h2 class="title"> Welcome to your To-Do App! </h2>
  </div>
</div>

<br />

<!-- Add to todo list -->
<div class="container">
  <div class="row">
    <h3 class="section-header"> Do you want to add something to your to-do list? </h3>
    <br/>
    <form class="add-to-list" action="./create/" method="POST"> {% csrf_token %}
      <label for = "task">Task to add: </label>
      <input type = "text" id = "task" name = "task"/>
      <input type="submit" class = "add-task-button" value = "Add task" name="add_task"/>
      <br />
    </form>
  </div>
</div>

<br />
<br />

<!-- List of current todo list -->
<div class="container">
  <h3 class="section-header"> Check out what's currently on your to-do list </h3>
  <div class="row list-section">

    {% for task in unfinished_tasks %}
        <div class="container box">
          <div class="row mt-2">
            <form action="./modify/", method="POST"> {% csrf_token %}
              <!-- Finish, edit, or delete tasks. Post to views for processing -->
              <button type="submit" class="task-button finish-button" name="change_type" value="finish">Finish</button>
              <button type="submit" class="task-button delete-button" name="change_type" value="delete">Delete</button>
              <label class="task-entry" contenteditable="true">{{task.text}}</label>
              <input type="hidden" name="task-id" value="{{task.id}}"></input>
            </form>
            <br />
          </div>
        </div>
    {% endfor %}
  </div>
</div>

<br/>
<br/>

<!-- List of finished tasks -->
<div class = "container">
  <h3 class="section-header">Check out what you've been able to finish!</h3>
  <div class = "row list-section">
    {% for task in finished_tasks %}
    <div class = "container box">
      <form action="./modify/", method="POST"> {% csrf_token %}
        <span>
          <input type="hidden" name="task-id" value="{{task.id}}"></input>
          <button type="submit" class="task-button return-to-list-button" name="change_type" value="return_to_list">Add back to list!</button>
          <label class="task-entry">{{task.text}}</label>
          &#10003; 
        </span>
        <br />
      </form>
    </div>
    {% endfor %}
  </div>
</div>

<div>
  <br />
  <br />
  <br />
</div>

{% endblock %}
