.title {
  text-align: center; 
}

.section-header{
  text-decoration:underline;
}

.task-entry {
  margin: 10px 5px; 
  font-size: 25px;
}

.box:hover {
  background-color: green; 
  border-color: gray; 
  border-width: 10px; 
}

.task-button {
  border-color: gray;
  font-weight: bold;
  float: right;
  padding: 10px 10px;
  margin: 5px 5px;


}
.finish-button {
  background-color : green;
  color : white;
}

.edit-button {
  background-color : yellow;
  color : black;
}

.delete-button {
  background-color : red;
  color : white;
}

.unfinish-button {
  background-color : green;
  color : white;
}
